html,
body {
  height: 100%;
  margin: 0;

  background: #9f9999;
}

.top {
  position: absolute;
  width: 100%;
  height: 80px;
  background: #ffffff;
  margin: 0;
  padding: 0;
}

.logo {
  position: absolute;
  width: 145px;
  height: 31px;
  left: 216px;
  top: 24px;
  bottom: 25px;

  font-family: "Raleway";
  font-style: normal;
  font-weight: 700;
  font-size: 26px;
  line-height: 31px;

  letter-spacing: 0.03em;
  color: rgba(0, 0, 0, 1);
}

.logo a {
  color: rgba(33, 150, 243, 1);
  text-decoration: none;
}

.logo-web {
  color: rgba(0, 0, 0, 1);
}

ul {
  list-style-type: none;
}

.navigation-bar {
  position: relative;
  width: 58px;
  height: 16px;
  left: 454px;
  top: 32px;
  bottom: 32px;
  right: 385px;

  font-family: "Roboto";
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  line-height: 16px;
  letter-spacing: 0.02em;
}

.navigation-bar ul {
  display: flex;
}

.navigation-bar li a {
  color: #212121;
  text-decoration: none;
  padding: 50px;
}

.contacts {
  position: absolute;
  height: 16px;
  width: 500px;
  left: 1272px;
  top: 32px;
  bottom: 32px;
  right: 216px;

  font-family: "Roboto";
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  line-height: 16px;
  letter-spacing: 0.02em;
}

ul.contacts {
  display: flex;
}

.contacts li {
  display: inline-block;
  list-style-type: none;
}

.contacts li a {
  color: #757575;
  text-decoration: none;
  padding: 40px;
}

/* maiin section */

.big-section {
  position: absolute;
  width: 100%;
  height: 600px;
  left: 0px;
  top: 80px;
  background: #2f303a;
  margin: auto;
  padding: auto;
}

.big-section h1 {
  position: relative;
  width: 696px;
  height: 120px;
  left: 452px;
  top: 200px;
  bottom: 280px;

  font-family: "Roboto";
  font-style: normal;
  font-weight: 900;
  font-size: 44px;
  line-height: 60px;

  text-align: center;
  letter-spacing: 0.06em;
  text-transform: uppercase;

  color: #ffffff;
}

.button {
  position: absolute;
  width: 200px;
  height: 50px;
  left: 700px;
  top: 434px;

  background: #2196f3;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 4px;

  font-family: "Roboto";
  font-style: normal;
  font-weight: 700;
  font-size: 16px;
  line-height: 30px;
  padding: 10px 19px;

  display: flex;
  align-items: center;
  text-align: center;
  letter-spacing: 0.06em;

  color: #ffffff;
}

/* ection skills */

.skilll-section {
  position: absolute;
  width: 1170px;
  height: 101px;
  left: 215px;
  top: 774px;
  display: flex;
}

ul.detail-skills {
  display: flex;
}

.skills {
  width: 270px;
  height: 16px;
  left: 815px;
  top: 774px;

  font-family: "Roboto";
  font-style: normal;
  font-weight: 700;
  font-size: 14px;
  line-height: 16px;
  letter-spacing: 0.03em;
  text-transform: uppercase;

  color: #212121;
}

.skills-description {
  width: 270px;
  height: 75px;
  left: 215px;
  top: 800px;

  font-family: "Roboto";
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 24px;

  letter-spacing: 0.03em;

  color: #757575;
}

/* section What to do */
.work-section {
  position: absolute;
  width: 1170px;
  height: 386px;
  left: 215px;
  top: 969px;
}

.workExemple {
  height: 42px;
  left: 701px;
  top: 969px;

  font-family: "Roboto";
  font-style: normal;
  font-weight: 700;
  font-size: 36px;
  line-height: 42px;
  text-align: center;
  letter-spacing: 0.03em;

  color: #212121;
}

.work-section ul {
  display: flex;
}

.work-section ul li {
  padding-right: 30px;
}

.team-section {
  position: absolute;
  width: 1600px;
  height: 648px;
  left: 215px;
  top: 1449px;
  background: #f5f4fa;
}

.our-team {
  height: 42px;
  left: 718px;
  top: 1543px;

  font-family: "Roboto";
  font-style: normal;
  font-weight: 700;
  font-size: 36px;
  line-height: 42px;
  text-align: center;
  letter-spacing: 0.03em;

  color: #212121;
}

.team {
  display: inline-block;
  margin: 15px;
}

.subsol {
  position: absolute;
  width: 1600px;
  height: 251px;
  left: 0px;
  top: 2097px;

  background: #2f303a;
}

.footer-logo {
  position: relative;
  width: 145px;
  height: 31px;
  left: 215px;

  font-family: "Raleway";
  font-style: normal;
  font-weight: 700;
  font-size: 26px;
  line-height: 31px;

  letter-spacing: 0.03em;

  color: #2196f3;
}

.footer-contacts {
  position: absolute;
  width: 231px;
  height: 72px;
  left: 215px;
}
